[build]
	command = "npm run build"
	publish = "build"

[[headers]]
	for = "/photos/*"
	[headers.values]
		Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
	for = "/posters/*"
	[headers.values]
		Cache-Control = "public, max-age=31536000, immutable"